<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">

        <bean id="helloWorldImpl1" class="com.xiongxl.aop.HelloWorldImpl1"></bean>
        <bean id="helloWorldImpl2" class="com.xiongxl.aop.HelloWorldImpl2"></bean>
        <bean id="timeHandler" class="com.xiongxl.aop.TimeHandler"></bean>
        <bean id="logHandler" class="com.xiongxl.aop.LogHandler"></bean>

        <aop:config>
            <aop:aspect id="time" ref="timeHandler" order="2">
                <aop:pointcut id="addPrintTime" expression="execution(* com.xiongxl.aop.HelloWorld.printHelloWorld(..))"></aop:pointcut>
                <aop:before method="beforePrintTime" pointcut-ref="addPrintTime"></aop:before>
                <aop:after method="afterPrintTime" pointcut-ref="addPrintTime"></aop:after>
            </aop:aspect>
            <aop:aspect id="log" ref="logHandler" order="1">
                <aop:pointcut id="addPrintLog" expression="execution(* com.xiongxl.aop.HelloWorld.printHelloWorld(..))"></aop:pointcut>
                <aop:before method="LogBefore" pointcut-ref="addPrintLog"></aop:before>
                <aop:after method="LogAfter" pointcut-ref="addPrintLog"></aop:after>
            </aop:aspect>
        </aop:config>
</beans>